<html><!DOCTYPE html>
<head>
	<title>Services</title>
</head>
<body>
<h1>Service List</h1>
<table border="1" cellpadding="7" cellspacing="7">
	<tr>
    <th width="50px">No</th>
    <th>Service Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <% if(data.length){ 
    for(var i = 0;i < data.length;i++) { %>
  <tr>
    <td><%=(i+1)%></td>
    <td><%=data[i].service_name%></td>
    <td><%=data[i].price%></td>
    <td><%=data[i].service_description%></td>
  </tr>
  <% }
  }else{ %>
  <tr>
    <td colspan="3">No user</td>
  </tr>
<% } %>
</table>

</body>
</html>