<html><!DOCTYPE html>
<head>
	<title>Add Service</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
<h1>Add a Service</h1>

<form method="POST" action="/addservice">
    <div name="service name">
  <label for="service_name"> Service Name </label>
  <input type="text" name="service_name" value="<%= qs.service_name %>" placeholder = "Service Name">
</div>
    <div name = "price">
  <label for="price"> Price </label>
  <input type="text" name="price" value="<%= qs.price %>" placeholder = "Price">
</div>
    <div name = "description">
  <label for="service_description"> Service Description </label>
  <input type="text" name="service_description" value="<%= qs.service_description %>" placeholder = "Service Description">
</div>
  <input type="submit" value="Submit">
</form>

</body>
</html>