<html><!DOCTYPE html>
<head>
	<title>Homepage</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
<h1>Homepage</h1>

<a href="/login"> Log in as Admin </a>
<a href="/clientreg">Register as Client</a>
<a href="/spreg">Register as Service Provider</a>

</body>
</html>