<html><!DOCTYPE html>
<head>
	<title>Homepage</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
<h1>Homepage</h1>

<a href="/test">View Services</a>
<a href="/clientt">View Clients</a>
<a href="/spp">View Service Providers</a>
<a href="/transactions"> View Transactions</a>


</body>
</html>