<!DOCTYPE html>
<html>
<head>
	<title>Fur Tales</title>
</head>
<body>
	<div class="container">
		<h1> Fur Tales </h1>
		<a href = "/admin"> View Admins </a><br>
		<a href = "/client"> View Clients </a><br>
		<a href = "/clientreg"> New Client </a><br>
		<a href = "/service"> View Services </a><br>
		<a href = "/serviceprovider"> View Service Providers </a><br>
		<a href = "/spreg"> New Service Provider </a>
	</div>
</body>
</html>
