<html><!DOCTYPE html>
<head>
	<title>Success</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <h1>Success!</h1>

    <p>Update Successful</p>
    <a href="/homepage2">Return Home</a>
    <a href="/spp"> Return to service provider list</a>
    
</body>
</html>