<html><!DOCTYPE html>
<head>
	<title>Success</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <h1>Success!</h1>
    
    <p>Insert was Successful!</p>
    <a href="/homepage2">Return Home</a>
    
</body>
</html>